*.raw
*.tgz
*.tar.gz
*.conf
*.swp
release-tag.txt
releases.json
releases_to_build.txt
SHA256SUMS*
mnt*
Release.md
prev_release_sysexts.txt
tags
.env
.env.backup

*test.json
*test.yaml
*flatcar_production_*
