version: 1.0.0
variant: flatcar

storage:
  files:
    - path: /etc/extensions/EXTENSION
      mode: 0644
      contents:
        # QEmu's default traffic-to-host IP
        source: http://10.0.2.2:8000/EXTENSION
systemd:
  units:
    - name: update-engine.service
      mask: true
    - name: locksmithd.service
      mask: true
