[Transfer]
Verify=false

[Source]
Type=url-file
Path=https://github.com/flatcar/sysext-bakery/releases/latest/download/
MatchPattern={MATCH_PATTERN}

[Target]
InstancesMax=3
Type=regular-file
Path={TARGET_PATH}
CurrentSymlink=/etc/extensions/{EXTNAME}.raw
