[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/usr/share/node-exporter/node-exporter.env
EnvironmentFile=-/etc/default/node-exporter
ExecStart=/usr/bin/node_exporter $NODE_EXPORTER_OPTS
Restart=on-failure
RestartSec=5

[Install]
UpheldBy=multi-user.target
