#
# Minimal HAProxy configuration shipped with the sysext.
# Replace /etc/haproxy/haproxy.cfg to customise.
#

global
    log         stdout format raw local0
    user        haproxy
    group       haproxy
    maxconn     4096
    tune.ssl.default-dh-param 2048

defaults
    log                     global
    mode                    http
    option                  httplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout connect         5s
    timeout client          50s
    timeout server          50s

frontend stats
    bind 127.0.0.1:8404
    stats enable
    stats uri /
    stats refresh 10s
